<div class="photo-wrapper">
  <img src="/photo1.jpg" class="photo" >
  <div class="message-wrapper">
    <div class="message">Click!!</div>
  </div>
</div>


<div class="photo-wrapper2">
  <img src="/photo2.jpg" class="photo2" >
  <div class="message-wrapper2">
    <div class="message2">Click!!</div>
  </div>
</div>
