<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>

<div class="img-wrapper">
  <img src="/photo1.jpg">
  <div class="mask">
    <div class="caption">Click Here!</div>
  </div>
</div>


<div class="sample1">
	<img src="/photo2.jpg" alt="フルーツ寄せ集め"/>
	<div class="mask">
		<div class="caption">It's fresh !</div>
	</div>
</div>
